
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

/* ---------NoteList----------- */

.notes{
    display: flex;
    flex: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80rem; 
}
/* ---------NoteCard----------- */

.note {
    background-color: #fcffa4;
    height: 15rem;
    margin: 1rem;
}
.note__page{
    font-family: "Gochi Hand";
}