/* -------------------SearchBar------------------------- */
.book__search__page{
    margin-top: 2rem;
    margin-left: 2rem;
}

.book__search__input{
    margin-right: 1rem;

}

/* -------------------SearchResults------------------------- */
.searchResult{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.searchResult__card{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem;
   
}

.searchResult_title{
    font-size: x-large;
}

.searchResult__card__image{

    max-width: 50%;
}
.searchResult__description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.search__card-body{
    margin: 2rem;
    height: 40rem;
    overflow: scroll;
}